.picture {
  position: relative;
  min-width: 1180px;
  min-height: 639px;
}

.picture__title {
  font-weight: 700;
  font-size: 40px;
  line-height: 50px;
  text-align: center;
  margin-left: 300px;
  padding-right: 250px;
  margin-top: 100px;
}

.picture__box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 40px 20px;
  margin-top: 30px;
}

.picture__image {
  width: 380px;
  height: 228px;
}

.picture__text {
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
}

.picture__text-one {
  position: relative;
  top: -30%;
  left: 10%;
}

.picture__text-two {
  position: relative;
  top: -30%;
  left: 10%;
  padding-right: 10px;
}
.picture__text-thre {
  position: relative;
  top: -30%;
  left: 10%;

}
.picture__text-four{
  position: relative;
  top: -30%;
  left: 10%;
}
.picture__text-five{
  position: relative;
  top: -30%;
  left: 10%;
}
.picture__text-six{
  position: relative;
  top: -30%;
  left: 10%;
}